---
import PaginadorArrow from "./PaginadorArrow.astro";
import Separador from "./Separador.astro";
import EnlacePage from "./EnlacePage.astro";

interface Props {
  current: number;
  maxPage: number;
  sizeCenterLinks?: number;
  urlGen: (page: number) => string;
}

function computeCenterLinks(
  current: number,
  size: number,
  max: number
): number[][] {
  let arr1: number[] = [];
  let arr2: number[] = [];

  for (let i = 1; i <= size; i++) {
    const resta = current - i;
    arr1.unshift(resta);
  }

  arr1 = arr1.filter((page) => page >= 1);

  for (let i = 1; i <= size; i++) {
    const suma = current + i;
    arr2.push(suma);
  }

  console.log(arr2);
  arr2 = arr2.filter((page) => page <= max);

  return [arr1, arr2];
}

const { current, maxPage, sizeCenterLinks, urlGen } = Astro.props;

const centerLinks = sizeCenterLinks || 1;

const [prevPages, afterPages] = computeCenterLinks(
  current,
  centerLinks,
  maxPage
);

const isActiveFirstPage: boolean = current - centerLinks > 1;
const isActiveFirstSeparator: boolean = current - centerLinks > 2;

const isActiveAfterPages: boolean = maxPage - current > centerLinks;
const isActiveLastSeparator: boolean = maxPage - current > centerLinks + 1;

const isFirstPage = current === 1;
const isLastPage = current === maxPage;

const prev = current - 1;
const next = current + 1;
---

<div class="paginador-container">
  <PaginadorArrow url={urlGen(prev)} disable={isFirstPage} type="LEFT" />

  {isActiveFirstPage && <EnlacePage url={urlGen(1)} value={1} />}
  <Separador active={isActiveFirstSeparator} />
  <div class="center">
    {
      prevPages.map((page) => {
        return <EnlacePage url={urlGen(page)} value={page} />;
      })
    }
    <EnlacePage url={urlGen(current)} value={current} active={true} />
    {
      afterPages.map((page) => {
        return <EnlacePage url={urlGen(page)} value={page} />;
      })
    }
  </div>

  <Separador active={isActiveLastSeparator} />

  {isActiveAfterPages && <EnlacePage url={urlGen(maxPage)} value={maxPage} />}

  <PaginadorArrow url={urlGen(next)} disable={isLastPage} type="RIGHT" />
</div>

<style>
  .paginador-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .center {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
</style>
