<!-- ---
import PaginadorArrow from "./PaginadorArrow.astro";
import Separador from "./Separador.astro";
import EnlacePage from "./EnlacePage.astro";

interface Props {
  current: number;
  maxPage: number;
  sizeCenterLinks?: number;
  urlGen: (page: number) => string;
}

function paginadorList(size: number, maxN: number, current: number) {
  let list = [];
  let centro = [];
  const stopM = maxN + 2 - size
  
  if (current <= size - 2) {
    centro.push(current);
    list.push("---");
    list.push(maxN);
    
    for (let i = 1; list.length + centro.length < size; i++) {
    centro.push(current + i);
  }
    
    
  }if (current > stopM) {
    list.push(1);
    list.push("---");
    centro.push(current);
    list.splice(2, 0, centro);

  } else {
    list.push(1);
    list.push("---");
    centro.push(current);
    list.push("---");
    list.push(maxN);
    list.splice(2, 0, centro);
  }
  
  list.splice(0, 0, centro);      

  for (let i = 1; (list.length + centro.length)<=size; i++) {
    centro.unshift(current - i);
    centro.push(current + i);
  }
  return [list];
}
---

<div class="paginador-container">
  <PaginadorArrow url={urlGen(prev)} disable={isFirstPage} type="LEFT" />

  {isActiveFirstPage && <EnlacePage url={urlGen(1)} value={1} />}
  <Separador active={isActiveFirstSeparator} />
  <div class="center">
    {
      prevPages.map((page) => {
        return <EnlacePage url={urlGen(page)} value={page} />;
      })
    }
    <EnlacePage url={urlGen(current)} value={current} active={true} />
    {
      afterPages.map((page) => {
        return <EnlacePage url={urlGen(page)} value={page} />;
      })
    }
  </div>

  <Separador active={isActiveLastSeparator} />

  {isActiveAfterPages && <EnlacePage url={urlGen(maxPage)} value={maxPage} />}

  <PaginadorArrow url={urlGen(next)} disable={isLastPage} type="RIGHT" />
</div>

<style>
  .paginador-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .center {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
</style> -->
